{% extends "home/header.html" %}

{% block content %}

{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}

<div class="card flex-row" style="width: 600px;">
    <div class="card-header border-0">
        <img src="{{ user_img }}" style="width:100px; height:100px;"/>
    </div>
    <div class="card-block px-2" style="width: 600px;">
    <pre></pre>
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;Sentiment Analysis for @{{ username }}</h5>
        <ul>
        	<li>Average Polarity Score: {{ avg_polarity }}</li>
        	<li>@{{ username }}'s account is {{ sentiment }}</li>
        	<li><a href="/sentiments/graphs/?username={{ username }}">Click here</a> to view useful statistics about @{{ username }}.</li>
        	<li><a href="/sentiments/all-tweets/?username={{ username }}">Click here</a> to view all analyzed tweets.</li>
        </ul>
    </div>
</div>


<div class="card flex-row" style="width: 600px;">
    <div class="card-block px-2" style="width: 600px;">
    <pre></pre>
    <center><h5 class="card-title">Search Analyzed Tweets by Date</h5></center>
    <pre></pre>
    <form action="/sentiments/searched-tweets/?username={{ username }}">
    <center>From: <input data-date-format="mm/dd/yyyy" id="datepicker" name="start_date">
    	Until: <input data-date-format="mm/dd/yyyy" id="datepicker1" name="end_date"></center>
    <pre></pre>
    <center><button type="submit" class="btn info">Search!</button></center>
    </form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style type="text/css">
        // solution 1:
        .datepicker {
            font-size: 0.875em;
        }
        /* solution 2: the original datepicker use 20px so replace with the following:*/
        
        .datepicker td, .datepicker th {
            width: 1.5em;
            height: 1.5em;
        }

        .datepicker1 {
            font-size: 0.875em;
        }
        /* solution 2: the original datepicker use 20px so replace with the following:*/
        
        .datepicker1 td, .datepicker1 th {
            width: 1.5em;
            height: 1.5em;
        }
        
    </style>
<script type="text/javascript">
    $('#datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker').datepicker("setDate", new Date());
</script>

<script type="text/javascript">
    $('#datepicker1').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker1').datepicker("setDate", new Date());
</script>

    </div>
</div>



<div class="card text-center" style="width: 800px;">
  <div class="card-body">
  	<h5 class="card-title">@{{ username }}'s Top 10 Most Positive Tweets</h5>
  	<p class="card-text">
    	<ol>
			{% for item in top_10_pos %}
			<li style="text-align: left;">"{{ item.0 }}", on {{ item.1 }} (score: {{ item.2 }})</li>
			<pre></pre>
			{% endfor %}
		</ol>
  	</p>
  </div>
</div>

<div class="card text-center" style="width: 800px;">
  <div class="card-body">
  	<h5 class="card-title">@{{ username }}'s Top 10 Most Negative Tweets</h5>
  	<p class="card-text">
    	<ol>
			{% for item in top_10_neg %}
			<li style="text-align: left;">"{{ item.0 }}", on {{ item.1 }} (score: {{ item.2 }})</li>
			<pre></pre>
			{% endfor %}
		</ol>
  	</p>
  </div>
</div>

 
</body>

</html>
 
<!-- <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>
   $("#actionA").on("click", function(){
    $("#tweetcontent").load("top10pos.html #");
  });

  $("#actionB").on("click", function(){
    $("#tweetcontent").load("https://www.html5rocks.com/en/tutorials/cors/");
  });
</script> -->

{% endblock %}